@font-face {
  font-family: Lato-Regular;
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Black;
  src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("assets/fonts/Lato-Bold.ttf");
}

* {
  box-sizing: border-box;
  outline: 1px solid darkcyan;
}

ul,
p,
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1020px;
  margin: 0 auto;
  font-family: Lato-Regular, sans-serif;
}

.wrapper {
  padding: 0 40px;
}

.title {
  font-family: Lato-Black, sans-serif;
  font-size: 30px;
  color: #666d89;
}
.portfolio {
  background-color: #2d303a;
  color: #666d89;
  padding: 65px 0 0 0;
  border-bottom: 6px solid #323746;
  word-spacing: -1.35;
}

.portfolio__info {
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  padding-top: 23px;
}

.portfolio__nav {
  padding-top: 15px;
}

.nav__items {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-right: 10px;
}

.nav__links {
  display: block;
  min-height: 12px;
  color: inherit;
  text-decoration: none;
  padding: 3px 6.5px;
  font-size: 12px;
  border: 1px solid #666d89;
  border-radius: 7px;
}

.nav__links:hover {
  color: #fff;
  border-color: #fff;
}

.portfolio__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 18px;
  padding-bottom: 47px;
}

.portfolio__imgs {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.portfolio__imgs:nth-child(n + 13) {
  display: none;
}

.about-us {
  background-color: #f2f2f2;
  color: #666d89;
  padding-top: 58px;
}

.about-us__info {
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  padding-top: 23px;
}

.about-us__squad {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.squad__member {
  max-width: 300px;
  padding-top: 10px;
}
.member__photo {
  width: 100%;
}

.member__name,
.member__info {
  color: #666d89;
}

.member__name {
  font-family: Lato-Black, sans-serif;
  font-size: 18px;
}

.member__info {
  margin-top: 20px;
  font-size: 12px;
}

.member__social-link {
  margin-top: 30px;
}

.socials-logo {
  /* margin-right: 28px; */
  display: inline-block;
  padding: 5px 0 0 8px;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border: 1px solid #666d89;
  border-radius: 50%;
}
