@font-face {
  font-family: Lato-Regular;
  src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Black;
  src: url("assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("assets/fonts/Lato-Bold.ttf");
}

* {
  box-sizing: border-box;
}

ul,
p,
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1020px;
  margin: 0 auto;
  font-family: Lato-Regular, sans-serif;
}

header {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 3px;
  background-color: #2d303a;
  font-family: Lato-Bold, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #323746;
  position: sticky;
  top: 0;
  z-index: 2;
}

.wrapper {
  padding: 0 40px;
  height: 100%;
}

.header__logo {
  padding: 28px 39px;
  font-size: 12px;
}

.header__logo-link {
  text-decoration: none;
  color: #fff;
}

.header__logo-text--red {
  color: #f06c64;
}

.header__navigation {
  padding: 38px 24px 0 0;
}

.navigation-list {
  display: inline-flex;
  flex-wrap: wrap;
}

.navigation-list__item {
  list-style-type: none;
  font-size: 12px;
  padding: 0 14.6px 0 14px;
  position: relative;
}

.navigation-list__item:not(:first-child)::before {
  content: "\2022";
  opacity: 0.2;
  position: absolute;
  top: 25%;
  left: -4%;
  font-size: 5px;
}

.navigation-list__link {
  text-decoration: none;
  color: #fff;
}

.navigation-list__link:hover,
a.active {
  cursor: pointer;
  color: #f06c64;
  /* text-decoration: underline; */
}

.slider {
  padding-bottom: 55.5px;
  background-color: #f06c64;
  position: relative;
  border-bottom: 6px solid #ea676b;
  z-index: 1;
}

.slider-images {
  padding: 52.1px 71px 0 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-images img {
  width: 100%;
  object-fit: fill;
}

.slider-images__vert {
  padding-right: 1.5px;
}

.slider-buttons {
  position: absolute;
  width: 92%;
  top: 47%;
  left: 4.3%;
  display: flex;
  justify-content: space-between;
}

.slider-buttons__button {
  background: none;
  text-align: center;
  border: 0;
  font-size: 32px;
  cursor: pointer;
  color: #ca4549;
  margin: 0;
  padding: 0;
  outline: none;
}

.slider-buttons__button:hover {
  cursor: pointer;
  color: #fff;
}

.slider-buttons__button:active {
  transform: scale(0.9, 0.9);
}

.services {
  background-color: #f2f2f2;
  color: #666d89;
  padding-bottom: 33.5px;
  border-bottom: 6px solid #fff;
}

.services-info {
  padding-top: 58px;
}

.services__title {
  font-family: Lato-Black, sans-serif;
  font-size: 30px;
}

.services__description {
  margin-top: 18px;
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  letter-spacing: -0.2px;
  word-spacing: 1px;
  line-height: 1.7;
}

.services-items {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services-item {
  padding: 1px 0 33px 0;
  display: flex;
  justify-content: space-between;
  min-width: 32.1%;
}

.item-image {
  padding: 5px 0 0 1px;
}

.item-image img {
  width: 60px;
  height: 60px;
}

.item-info {
  max-width: 240px;
  padding: 0 0 0 18.5px;
  word-spacing: -1.3px;
}

.item__title {
  font-family: Lato-Black, sans-serif;
  font-size: 18px;
  padding-left: 1px;
}

.item__description {
  margin-top: 7px;
  line-height: 1.9;
  font-size: 12px;
  text-align: justify;
  height: 60px;
}

.services__title,
.services__description,
.item__title,
.item__description {
  overflow: hidden;
}

.title {
  font-family: Lato-Black, sans-serif;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #666d89;
}
.portfolio {
  background-color: #2d303a;
  color: #666d89;
  padding: 58.5px 0 0 0;

  border-bottom: 6px solid #323746;
}

.portfolio__info {
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  word-spacing: -1.35px;
  padding-top: 20.5px;
}

.portfolio__nav {
  padding-top: 16.5px;
  padding-left: 1px;
}

.nav__items {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-right: 5px;
}

.nav__links {
  display: block;
  min-height: 12px;
  color: inherit;
  text-decoration: none;
  padding: 2.8px 6.5px;
  font-size: 12px;
  border: 1px solid #666d89;
  border-radius: 5.5px;
}

.nav__links:hover {
  color: #fff;
  border-color: #fff;
}
.nav__links:active {
  transform: scale(0.9, 0.9);
}

.portfolio__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 18.5px;
  padding-bottom: 47px;
}

.portfolio__imgs {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}

.portfolio__imgs:nth-child(n + 13) {
  display: none;
}

.about-us {
  background-color: #f2f2f2;
  color: #666d89;
  padding-top: 59px;
  border-bottom: 6px solid #fff;
  padding-bottom: 67px;
}

.about-us__title {
  word-spacing: -2px;
}

.about-us__info {
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  padding-top: 21px;
  word-spacing: -0.3px;
  line-height: 28px;
}

.about-us__squad {
  display: flex;
  margin-top: 46px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.squad__member {
  max-width: 300px;
}
.member__photo {
  width: 100%;
}

.member__name,
.member__info {
  color: #666d89;
}

.member__name {
  font-family: Lato-Black, sans-serif;
  font-size: 18px;
  padding-top: 12px;
  white-space: nowrap;
}

.member__info {
  margin-top: 11.5px;
  font-size: 12px;
  line-height: 18px;
}

.member__social-link {
  margin-top: 27px;
}

.socials-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 2.7px;
  padding: 6px 0 0 8px;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.socials-logo:hover {
  background-color: #fff;
  border: 1px solid #f06c64;
}

.socials-logo:active {
  transform: scale(0.9, 0.9);
}

.contacts {
  background-color: #f06c64;
  color: #f0d8d9;
  border-bottom: 6px solid #ea676b;
  padding-top: 59px;
}

.contacts__title {
  color: #f0d8d9;
  font-family: Lato-Black, sans-serif;
  font-size: 30px;
  word-spacing: -0.5px;
}

.contacts__descr {
  font-family: Lato-Light, sans-serif;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 44px;
  line-height: 30px;
  font-weight: 300;
  word-spacing: -0.1px;
  letter-spacing: -0.04px;
}

.form-name,
.form-email,
.form-subject,
.btn__submit,
.form-description {
  border-radius: 4px;
  border: none;
  width: 619px;
  height: 38px;
  padding: 6px 15px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: #d6564f;
  cursor: pointer;
  color: #f0d8d9;
}

.btn__submit {
  width: 100px;
  margin-bottom: 13px;
}

.btn__submit:hover {
  background-color: #2d303a;
}

.btn__submit:active {
  transform: scale(0.9, 0.9);
}
.form-description {
  height: 202px;
  resize: none;
}

.form-name::-webkit-input-placeholder,
.form-email::-webkit-input-placeholder,
.form-subject::-webkit-input-placeholder,
.form-description::-webkit-input-placeholder {
  font-family: Lato-Regular, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #f48c8f;
}

.form-name::-moz-placeholder,
.form-email::-moz-placeholder,
.form-subject::-moz-placeholder,
.form-description::-moz-placeholder {
  font-family: Lato-Regular, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #f48c8f;
}

.contact__info {
  margin-left: 20px;
  font-size: 12px;
  color: #f0d8d9;
}

.contact__title {
  font-size: 18px;
  line-height: 17px;
  font-weight: 900;
  color: #f0d8d9;
  letter-spacing: 0.5px;
}

.contact__p-info {
  padding-top: 12px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: #f0d8d9;
}

.contact__links {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 23px;
}

.contact__links a {
  text-decoration: none;
  padding-left: 23px;
  color: #f0d8d9;
}
.contact__map {
  background: url(/singolo/assets/icons/location.png) no-repeat center left;
  padding-left: 9px;
}

.contact__phone {
  background: url(/singolo/assets/icons/phone.png) no-repeat center left;
  padding-left: 10px;
}

.contact__email {
  background: url(/singolo/assets/icons/mai.png) no-repeat center left;
  padding-left: 10px;
}

.facebook {
  padding-left: 2px;
}

.socials-logo:hover {
  background-color: #fff;
}

.socials-logo:active {
  transform: scale(0.9, 0.9);
}

.forms_and_contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #2d303a;
  color: #666d89;
  padding: 20px 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 12px;
  font-family: Lato-Light, sans-serif;
}
